/* ================== reset the defaults ================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* img {
  display: block;
} */

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================== /reset the defaults ================== */

/* ================== body ================== */
body {
  font-family: "Gaura Times Regular";
  font-size: 18pt;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  /* color: var(--primary-text-color); */
}
/* ================== /body ================== */

/* ================== components ================== */

.container {
  display: flex;
  flex-wrap: wrap; /* Чтобы блоки переносились */
  gap: 20px;
  padding: 10px;
  margin-left: 250px;
}

.header {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media (max-width: 480px) {
  header {
    font-size: 18px;
    padding: 15px;
  }

  .container {
    flex-direction: column; /* в колонку на мобильных */
  }
}

.post-date {
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.post {
  display: flex;
  align-items: center; /* выравнивание по вертикали */
  gap: 10px; /* отступ между картинкой и ссылкой */
}
