/* ================== reset the defaults ================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ================== /reset the defaults ================== */

/* ================== body ================== */
body {
  font-family: "Gaura Times Regular";
  font-size: 16pt;
  /* color: var(--primary-text-color); */
}
/* ================== /body ================== */

/* ================== components ================== */
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ================== components ================== */

.header {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
}

.verse {
  margin-left: 300px;
}

.photo {
  margin-left: auto;
  margin-right: auto;
}

.section-photo {
  margin-bottom: 20px;
}

.footer {
  margin-bottom: 150px;
}
