/* ================== reset ================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}

.container img {
  display: block; /* Превращаем изображение в блочный элемент */
  margin-left: auto;
  margin-right: auto;
}
/* ================== /reset ================== */

/* ================== body ================== */
body {
  font-family: "Gaura Times Regular", serif;
  font-size: 18pt;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* ================== /body ================== */

/* ================== layout ================== */
.container {
  max-width: 900px;
  margin: 0 auto; /* центрируем блоки */
  padding: 10px;
}

.header {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.photo-paragraph {
  margin-left: auto;
  margin-right: auto;
}

.post-date {
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.post {
  display: flex;
  align-items: center;
  gap: 15px;
}

.verse {
  margin-left: 600px;
}
/* ================== /layout ================== */

/* ================== responsive ================== */
@media (max-width: 768px) {
  body {
    font-size: 15pt;
  }

  .header {
    font-size: 18pt;
    margin-bottom: 40px;
  }

  .post {
    flex-direction: column; /* картинка сверху, текст снизу */
    align-items: flex-start;
  }

  .container {
    padding: 5px;
  }

  .verse {
    margin-left: 150px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 13pt;
  }

  .header {
    font-size: 16pt;
  }

  /* .post img {
    max-width: 100%;
  } */

  .verse {
    margin-left: 100px;
  }
}
/* ================== /responsive ================== */
